@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  background: #000000;
  max-width: 100%;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
}